@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

:root{
    --Green: hsl(75, 94%, 57%);
    --White: hsl(0, 0%, 100%);
    --Grey: hsl(0, 0%, 20%);
    --Dark-Grey: hsl(0, 0%, 12%);
    --Off-Black: hsl(0, 0%, 8%);
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
}

/* main container  */
.main-container{
    width: 100%;
    min-height: 100vh;
    background-color: var(--Off-Black);
    display: flex;
    align-items: center;
    justify-content: center;
}

.social-box{
    width: 100%;
    max-width: 400px;
    background-color: var(--Dark-Grey);
    border-radius: 15px;
    padding: 20px;   
}

.profile-pic{
    margin: 15px auto;
    height: 100px;
    width: 100px;
    border-radius: 50%;
    display: block;
}

.name{
    font-weight: 600;
    color: var(--White);
    margin: 10px auto;
    text-align: center;
    font-size: 30px;
}

.location{
    font-weight: 500;
    color: var(--Green);
    margin: 5px auto;
    text-align: center;
}

.description{
    font-weight: 500;
    color: rgb(205, 202, 202);
    margin: 5px auto;
    margin-top: 20px;
    text-align: center;
    margin-bottom: 15px;
}

.social-links{
    text-decoration: none;
    font-size: 15px;
    font-weight: 500;
    width: 100%;
    background-color: var(--Grey);
    color: white;
    display: block;
    margin: 7px 0;
    padding: 15px 0;
    text-align: center;
    border-radius: 10px;
}
.social-links:active{
    background-color: var(--Green);
    color: var(--Off-Black);
}
@media (max-width: 400px){
    .social-box{
        padding: 5px
    }
}